{% extends 'base.html' %}
{% load static %}
    {% block content %}
        <div class="container-fluid py-5 mb-5 hero-header" style="background: url('{% static 'design/img/tra.jpg' %}') center center/cover no-repeat; min-height:500px ;" ></div>
            <div class="container py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-dark animated slideInDown">Booking</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                                <li class="breadcrumb-item text-dark active" aria-current="page">Booking</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title bg-white text-center text-success px-3">Process</h6>
                    <h1 class="mb-5">3 Easy Steps</h1>
                </div>
                <div class="row gy-5 gx-4 justify-content-center">
                    <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="position-relative border border-primary pt-5 pb-4 px-4">
                            <div class="d-inline-flex align-items-center justify-content-center bg-success rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                                <i class="fa fa-globe fa-3x text-white"></i>
                            </div>
                            <h5 class="mt-4">Choose A Destination</h5>
                            <hr class="w-25 mx-auto bg-success mb-1">
                            <hr class="w-50 mx-auto bg-success mt-0">
                            <p class="mb-0">From tropical escapes to cultural treasures, explore destinations that match your travel dreams. Start your journey here.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="position-relative border border-primary pt-5 pb-4 px-4">
                            <div class="d-inline-flex align-items-center justify-content-center bg-success rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                                <i class="fa fa-dollar-sign fa-3x text-white"></i>
                            </div>
                            <h5 class="mt-4">Pay Online</h5>
                            <hr class="w-25 mx-auto bg-success mb-1">
                            <hr class="w-50 mx-auto bg-success mt-0">
                            <p class="mb-0">Book your trip with confidence. Enjoy hassle-free, secure online payments with multiple options to suit your needs.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="position-relative border border-primary pt-5 pb-4 px-4">
                            <div class="d-inline-flex align-items-center justify-content-center bg-success rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                                <i class="fa fa-plane fa-3x text-white"></i>
                            </div>
                            <h5 class="mt-4">Fly Today</h5>
                            <hr class="w-25 mx-auto bg-success mb-1">
                            <hr class="w-50 mx-auto bg-success mt-0">
                            <p class="mb-0">Ready for a spontaneous getaway? Book your flight now and take off to your dream destination today. Adventure is just a boarding pass away!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="booking p-5">
                    <div class="row g-5 align-items-center">
                        <div class="col-md-6 text-white">
                            <h6 class="text-white text-uppercase">Booking</h6>
                            <h1 class="text-white mb-4">Online Booking</h1>
                            <p class="mb-4">Affordable Adventures, One Click Away.</p>
                            <p class="mb-4">Find the best deals on flights, hotels, and more with our easy-to-use travel booking. We help budget-conscious travelers explore the world without breaking the bank. Compare prices instantly and book your perfect trip at the lowest cost – fast, simple, and secure.</p>
                            <a class="btn btn-outline-light py-3 px-5 mt-2" href="">Read More</a>
                        </div>
                        <div class="col-md-6">
                            <h1 class="text-white mb-4">Book A Tour</h1>
                             <form method="post">
                                {% csrf_token %} 
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control bg-transparent" id="name" placeholder="Your Name">
                                            <label for="name">Your Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control bg-transparent" id="email" placeholder="Your Email">
                                            <label for="email">Your Email</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating date" id="date3" data-target-input="nearest">
                                           <input type="text"name="date_time" class="form-control bg-transparent datetimepicker-input"id="datetime"placeholder="Date & Time"data-target="#date3" data-toggle="datetimepicker"required />    

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <select class="form-select bg-transparent" id="select1">
                                                <option value="1">Destination 1</option>
                                                <option value="2">Destination 2</option>
                                                <option value="3">Destination 3</option>
                                                <option value="3">Destination 4</option>
                                                <option value="3">Destination 5</option>
                                                <option value="3">Destination 6</option>
                                                

                                            </select>
                                            <label for="select1">Destination</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <textarea class="form-control bg-transparent" placeholder="Special Request" id="message" style="height: 100px"></textarea>
                                            <label for="message">Special Request</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_QaBO2SJHGg5Qiz" async> </script>
                                        <button class="btn btn-outline-light w-100 py-3" type="submit">Book Now</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    {% endblock %}
    
    
    