{% extends "base.html" %}
{% load static %}
    {% block content %} 
        <div class="container-fluid py-5 mb-5 hero-header" style="background: url('{% static 'design/img/tra.jpg' %}') center center / 100% no-repeat; height: 100vh;"></d>
                <div class="row justify-content-center py-5">`
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-black mb-3 animated slideInDown">Let The Journey Changes You</h1>
                        <p class="fs-4 text-dark mb-4 animated slideInDown">Discover a world beyond the ordinary.we’re here to guide your every step. Start your next adventure today.</p>
                        <div class="position-relative w-75 mx-auto animated slideInDown">
                            <input class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="Eg: Kerala">
                            <button type="button" class="btn btn-success rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2" style="margin-top: 7px;">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
       
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                        <div class="position-relative h-100">
                            <img class="img-fluid position-absolute w-100 h-100" src="{% static 'design/img/tourist.jpg' %}" alt="" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                        <h6 class="section-title bg-white text-start text-success pe-3">About Us</h6>
                        <h1 class="mb-4">Welcome to <span class="text-success">BeyondBoundaries</span></h1>
                        <p class="mb-4">At BeyondBoundaries.co, we believe that travel is more than just visiting new places — it's about experiencing the world, discovering new cultures, and creating memories that last a lifetime. Whether you're seeking adventure in the mountains, relaxation on tropical beaches, or cultural immersion in historic cities, we're here to make your journey unforgettable.</p>
                        <p class="mb-4">With a passion for exploration and a commitment to personalized service, we offer curated travel packages, expert guidance, and seamless planning to help you explore the world your way. From solo travelers to family vacations and group tours, we tailor every detail to fit your style and budget.</p>
                        <div class="row gy-2 gx-4 mb-4">
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-success me-2"></i>First Class Flights</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-success me-2"></i>Handpicked Hotels</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-success me-2"></i>5 Star Accommodations</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-success me-2"></i>Latest Model Vehicles</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-success me-2"></i>150 Premium City Tours</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-success me-2"></i>24/7 Service</p>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    

        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title bg-white text-center text-success px-3">Services</h6>
                    <h1 class="mb-5">Our Services</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-globe text-success mb-4"></i>
                                <h5>WorldWide Tours</h5>
                                <p>Wherever you dream of going, we’ll take you there — effortlessly and in style</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-hotel text-success mb-4"></i>
                                <h5>Hotel Reservation</h5>
                                <p>We make hotel booking seamless and stress-free, offering access to top-rated hotels worldwide with exclusive deals.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-user text-success mb-4"></i>
                                <h5>Travel Guides</h5>
                                <p>Discover more with our professional travel guides who offer in-depth knowledge and a personal touch to every journey.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-cog text-success mb-4"></i>
                                <h5>Event Management</h5>
                                <p>We specialize in planning and executing seamless events around the world </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container-xxl py-5 destination">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title bg-white text-center text-success px-3">Destination</h6>
                    <h1 class="mb-5">Popular Destination</h1>
                </div>
                <div class="row g-3">
                    <div class="col-lg-7 col-md-6">
                        <div class="row g-3">
                            <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                                <a class="position-relative d-block overflow-hidden" href="">
                                    <img class="img-fluid" src="{% static 'design/img/kerala.jpg' %}" alt="">
                                    <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">30% OFF</div>
                                    <div class="bg-white text-success fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Kerala</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                                <a class="position-relative d-block overflow-hidden" href="">
                                    <img class="img-fluid" src="{% static 'design/img/thailand.jpg' %}" alt="">
                                    <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">25% OFF</div>
                                    <div class="bg-white text-success fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Thailand</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                                <a class="position-relative d-block overflow-hidden" href="">
                                    <img class="img-fluid" src="{% static 'design/img/maldives.jpg' %}" alt="">
                                    <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">35% OFF</div>
                                    <div class="bg-white text-success fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Maldives</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                        <a class="position-relative d-block h-100 overflow-hidden" href="">
                            <img class="img-fluid position-absolute w-100 h-100" src="{% static 'design/img/australia.webp' %}" alt="" style="object-fit: cover;">
                            <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">10% OFF</div>
                            <div class="bg-white text-success fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Australia</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    

        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title bg-white text-center text-success px-3">Packages</h6>
                    <h1 class="mb-5">Awesome Packages</h1>
                </div>
                <div class="row g-4 justify-content-center">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="package-item">
                            <div class="overflow-hidden">
                                <img class="img-fluid" src="img/package-1.jpg" alt="">
                            </div>
                            <div class="d-flex border-bottom">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-success me-2"></i>Maldives</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-success me-2"></i>3 days</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-user text-success me-2"></i>2 Person</small>
                            </div>
                            <div class="text-center p-4">
                                <h3 class="mb-0">₹60k</h3>
                                <div class="mb-3">
                    
                                    <small class="fa fa-star text-success"></small>
                                    <small class="fa fa-star text-success"></small>
                                    <small class="fa fa-star text-success"></small>
                                    <small class="fa fa-star text-success"></small>
                                    <small class="fa fa-star text-success"></small>
                                </div>
                                <p>A tropical haven of crystal-clear waters, overwater villas, and white sandy beaches. The Maldives is where luxury meets nature in perfect harmony.</p>
                                <div class="d-flex justify-content-center mb-2">
                                    <a href="#" class="btn btn-sm btn-success px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                    <a href="#" class="btn btn-sm btn-success px-3" style="border-radius: 0 30px 30px 0;">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="package-item">
                            <div class="overflow-hidden">
                                <img class="img-fluid" src="img/package-2.jpg" alt="">
                            </div>
                            <div class="d-flex border-bottom">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text- successme-2"></i>Bali</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-success me-2"></i>3 days</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-user text-success me-2"></i>2 Person</small>
                            </div>
                            <div class="text-center p-4">
                                <h3 class="mb-0">₹20k</h3>
                                <div class="mb-3">
                                    <small class="fa fa-star text-success"></small>
                                    <small class="fa fa-star text-success"></small>
                                    <small class="fa fa-star text-success"></small>
                                    <small class="fa fa-star text-success"></small>
                                    <small class="fa fa-star text-success"></small>
                                </div>
                                <p>Bali, often called the "Island of Gods," is a vibrant tropical paradise known for its diverse landscapes, rich culture, and warm hospitality.</p>
                                <div class="d-flex justify-content-center mb-2">
                                    <a href="#" class="btn btn-sm btn-success px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                    <a href="#" class="btn btn-sm btn-success px-3" style="border-radius: 0 30px 30px 0;">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="package-item">
                            <div class="overflow-hidden">
                                <img class="img-fluid" src="img/package-3.jpg" alt="">
                            </div>
                            <div class="d-flex border-bottom">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-success me-2"></i>Dubai</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-success me-2"></i>3 days</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-user text-success me-2"></i>2 Person</small>
                            </div>
                            <div class="text-center p-4">
                                <h3 class="mb-0">₹80k</h3>
                                <div class="mb-3">
                                    <small class="fa fa-star text-success"></small>
                                    <small class="fa fa-star text-success"></small>
                                    <small class="fa fa-star text-success"></small>
                                    <small class="fa fa-star text-success"></small>
                                    <small class="fa fa-star text-success"></small>
                                </div>
                                <p> Dubai is a vibrant, modern city known for its ultramodern architecture, luxury shopping, and a lively nightlife scene.</p>
                                <div class="d-flex justify-content-center mb-2">
                                    <a href="#" class="btn btn-sm btn-success px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                    <a href="#" class="btn btn-sm btn-success px-3" style="border-radius: 0 30px 30px 0;">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    


    
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="booking p-5">
                    <div class="row g-5 align-items-center">
                        <div class="col-md-6 text-white">
                            <h6 class="text-white text-uppercase">Booking</h6>
                            <h1 class="text-white mb-4">Online Booking</h1>
                            <p class="mb-4">Affordable Adventures, One Click Away.</p>
                            <p class="mb-4">Find the best deals on flights, hotels, and more with our easy-to-use travel booking. We help budget-conscious travelers explore the world without breaking the bank. Compare prices instantly and book your perfect trip at the lowest cost – fast, simple, and secure.</p>
                            <a class="btn btn-outline-light py-3 px-5 mt-2" href="">Read More</a>
                        </div>
                        <div class="col-md-6">
                            <h1 class="text-white mb-4">Book A Tour</h1>
                            <form>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control bg-transparent" id="name" placeholder="Your Name">
                                            <label for="name">Your Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control bg-transparent" id="email" placeholder="Your Email">
                                            <label for="email">Your Email</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating date" id="date3" data-target-input="nearest">
                                            <input type="text" class="form-control bg-transparent datetimepicker-input" id="datetime" placeholder="Date & Time" data-target="#date3" data-toggle="datetimepicker" />
                                            <label for="datetime">Date & Time</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <select class="form-select bg-transparent" id="select1">
                                                <option value="1">Destination 1</option>
                                                <option value="2">Destination 2</option>
                                                <option value="3">Destination 3</option>
                                                <option value="3">Destination 4</option>
                                                <option value="3">Destination 5</option>
                                                <option value="3">Destination 6</option>


                                            </select>
                                            <label for="select1">Destination</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <textarea class="form-control bg-transparent" placeholder="Special Request" id="message" style="height: 100px"></textarea>
                                            <label for="message">Special Request</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_QaBO2SJHGg5Qiz" async> </script>
                                        <button class="btn btn-outline-light w-100 py-3" type="submit" >Book Now</button>
                                    
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    



        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title bg-white text-center text-success px-3">Process</h6>
                    <h1 class="mb-5">3 Easy Steps</h1>
                </div>
                <div class="row gy-5 gx-4 justify-content-center">
                    <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="position-relative border border-primary pt-5 pb-4 px-4">
                            <div class="d-inline-flex align-items-center justify-content-center bg-success rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                                <i class="fa fa-globe fa-3x text-white"></i>
                            </div>
                            <h5 class="mt-4">Choose A Destination</h5>
                            <hr class="w-25 mx-auto bg-success mb-1">
                            <hr class="w-50 mx-auto bg-success mt-0">
                            <p class="mb-0">From tropical escapes to cultural treasures, explore destinations that match your travel dreams. Start your journey here.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="position-relative border border-primary pt-5 pb-4 px-4">
                            <div class="d-inline-flex align-items-center justify-content-center bg-success rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                                <i class="fa fa-dollar-sign fa-3x text-white"></i>
                            </div>
                            <h5 class="mt-4">Pay Online</h5>
                            <hr class="w-25 mx-auto bg-success mb-1">
                            <hr class="w-50 mx-auto bg-success mt-0">
                            <p class="mb-0">Book your trip with confidence. Enjoy hassle-free, secure online payments with multiple options to suit your needs.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="position-relative border border-primary pt-5 pb-4 px-4">
                            <div class="d-inline-flex align-items-center justify-content-center bg-success rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                                <i class="fa fa-plane fa-3x text-white"></i>
                            </div>
                            <h5 class="mt-4">Fly Today</h5>
                            <hr class="w-25 mx-auto bg-success mb-1">
                            <hr class="w-50 mx-auto bg-success mt-0">
                            <p class="mb-0">Ready for a spontaneous getaway? Book your flight now and take off to your dream destination today. Adventure is just a boarding pass away!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    



    
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="text-center">
                    <h6 class="section-title bg-white text-center text-success px-3">Testimonial</h6>
                    <h1 class="mb-5">Our Clients Say!!!</h1>
                </div>
                <div class="owl-carousel testimonial-carousel position-relative">
                    <div class="testimonial-item bg-white text-center border p-4"> 
                        <h5 class="mb-0">David</h5>
                        <p>Kerala</p>
                        <p class="mb-0">"Traveling to the Maldives was an absolute dream come true! From the moment we arrived, everything was perfect — the crystal-clear waters, stunning sunsets, and warm hospitality made it unforgettable.</p>
                    </div>
                    <div class="testimonial-item bg-white text-center border p-4">
                        <h5 class="mb-0">Anjali</h5>
                        <p>Tamilnadu</p>
                        <p class="mt-2 mb-0">My trip to Kerala was nothing short of amazing. The peaceful backwaters, lush green landscapes, and delicious local cuisine made every day special. </p>
                    </div>
                    <div class="testimonial-item bg-white text-center border p-4">
                        <h5 class="mb-0">Anna</h5>
                        <p>Delhi</p>
                        <p class="mt-2 mb-0">Visiting Malaysia was an incredible adventure! The mix of vibrant city life in Kuala Lumpur and the tranquil beaches of Langkawi gave me the perfect balance. ></p>
                    </div>
                    <div class="testimonial-item bg-white text-center border p-4">
                        <h5 class="mb-0">Adam</h5>
                        <p>Kerala</p>
                        <p class="mt-2 mb-0">"I had the most amazing time exploring Bali! The stunning beaches, lush rice terraces, and vibrant culture made it a trip to remember.</p>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}        